.profileimg {
    margin-top: 5px;
  margin-right: 80%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 8px 5px 20px 5px #1e528379;
}

.gift {
    background-color: #1e528379;
    padding-left: 15%;
    border-style: solid;
    border-color: coral;
    border-radius: 15%;
}