<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>CrearGift</title>
</head>
<body>
<nav class="navbar bg-body-tertiary" style="background-color: #1e5283d1;">
    <div class="container-fluid">
                <span style="justify-content: left;">
                    <a href="index.html" th:href="@{/home}" class="navbar-brand">Certifica 2</a>
                    <a href="index.html" th:href="@{/user}" style="color: black;">My gifts</a>
                    <a href="index.html" th:href="@{/gifts}">
                        <button class="btn btn-info" type="button" style="background-color:#f4f742">Gifts</button>
                    </a>
                    <a href="index.html" th:href="@{/tags}">
                        <button class="btn btn-info" type="button" style="background-color:#f4f742">Tags</button>
                    </a>
                    <a href="index.html" th:href="@{/users}">
                        <button class="btn btn-info" type="button" style="background-color:#f4f742">Users</button>
                    </a>
                    <a href="index.html" th:href="@{/duo}" >
                        <button class="btn btn-info" type="button" style="background-color:#f4f742">CREAR Gift</button>
                    </a>
                </span>
        <span style="justify-content: right;">
                    <a href="user.html" th:href="@{/login}">
                        <button class="btn btn-info" type="button">Log in</button>
                    </a>
                    <a href="user.html" th:href="@{/logout}">
                        <button class="btn btn-info" style="background-color: rgb(133, 85, 178);" type="button">Log out</button>
                    </a>
                </span>
    </div>
</nav>


    <div class="container-fluid">
        <div>
            <button class="btn" id="create-btn" onclick="activateCreate(this)" style="background-color: palegreen" disabled>CREATE</button>
<!--            <button class="btn" id="delete-btn" onclick="activateDelete(this)" style="background-color: rgb(248, 111, 111)">DELETE</button>-->
<!--            <button class="btn" id="modify-btn" onclick="activateModify(this)" style="background-color: rgb(247, 245, 147)">MODIFY</button>-->
        </div>

        <form style="width: 50vh; justify-content: center;" id="forma">
            <div class="mb-3" id="id-label" hidden>
                <label for="id" class="form-label">Id</label>
                    <input type="text" class="form-control" id="id">
            </div>
            <div class="mb-3" id="name-label">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" required>
            </div>
            <div class="mb-3" id="description-label">
              <label for="description" class="form-label">description</label>
              <input type="text" class="form-control" id="description">
            </div>
            <div class="mb-3" id="price-label">
                <label for="price" class="form-label">precio saldo</label>
                <input type="number" class="form-control" id="price" required>
            </div>
            <div class="mb-3" id="duration-label">
                <label for="duration" class="form-label">duration</label>
                <input type="number" class="form-control" id="duration" required>
            </div>
            <div class="mb-3" id="owner-label">
                <label for="owner" class="form-label">Owner</label>
                <input type="text" class="form-control" id="owner" required>
            </div>
            <button type="button" id="submit" class="btn btn-primary" onclick="agregar()">Submit</button>
          </form>
    </div>

    <script src="../static/functions.js" th:src="@{functions.js}"></script>
</body>
</html>