<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>Certificados</title>
</head>

<body>
    <nav class="navbar fixed-top" style="background-color: #1e5283d1;">
        <div class="container-fluid">
            <span style="justify-content: left;">
                <a href="index.html" th:href="@{/home}" class="navbar-brand">Certifica 2</a>
                <a href="index.html" th:href="@{/gifts}">
                  <button class="btn btn-info" type="button" style="background-color:#f4f742">Gifts</button>
                </a>
                <a href="index.html" th:href="@{/tags}">
                  <button class="btn btn-info" type="button" style="background-color:#f4f742">Tags</button>
                </a>
            <a href="index.html" th:href="@{/users}">
                <button class="btn btn-info" type="button" style="background-color:#f4f742">Users</button>
            </a>
            <a href="index.html" th:href="@{/duo}">
                <button class="btn btn-info" type="button" style="background-color:#f4f742">CREAR Gift</button>
            </a>
        </span>
        <span style="justify-content: right;">
            <a href="user.html" th:href="@{/login}">
                <button class="btn btn-info" type="button">Log in</button>
            </a>
            <a href="user.html" th:href="@{/logout}">
                <button class="btn btn-info" style="background-color: rgb(133, 85, 178);" type="button">Log
                    out</button>
            </a>
        </span>
        
          <!--form escondida-->
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Modificar</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <form class="d-flex mt-3" role="search">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li><input type="text" class="form-control" id="id" value="" disabled hidden></li>
                    <li class="nav-item"><input type="text" class="form-control" id="owner" placeholder="owner"></li>
                    <li class="nav-item"><input type="text" class="form-control" id="name" placeholder="name"></li>
                    <li class="nav-item"><input type="text" class="form-control" id="description" placeholder="description"></li>
                    <li><input type="number" class="form-control" id="price" placeholder="price"></li>
                    <li><input type="number" class="form-control" id="duration" placeholder="duration"></li>
                    <li>
                    <button class="btn btn-outline-success" onclick="modifyGift()" type="button">Modify</button>
                    </li>
                </ul>
              </form>
            </div>
          </div>
        </div>
    </nav>


    <h1>Certificados</h1>
    <table class="table" id="gifts-table">
        <thead>
            <th hidden>ID</th>
            <th>owner</th>
            <th>giftName</th>
            <th>Description</th>
            <th>Price</th>
            <th>Duration</th>
            <th>Creation Date</th>
            <th>Last modified</th>
            <th>Tags</th>
            <th>Action</th>
        </thead>
        <tbody th:each="giftCert:${certs}">
            <tr>
            <td th:text="${giftCert.id}" hidden>F </td>
            <td th:text="${giftCert.owner}">F </td>
            <td th:text="${giftCert.giftCertName}">F </td>
            <td th:text="${giftCert.description}">F </td>
            <td th:text="${giftCert.price}">F </td>
            <td th:text="${giftCert.duration}">F </td>
            <td th:text="${#temporals.format(giftCert.createDate)}">F </td>
            <td th:text="${#temporals.format(giftCert.createDate)}">F </td>
            <td><span th:each="tag:${giftCert.tags}" th:text="${tag.tagName} + ' '">A</span></td>
            <td><button id="bor" type="button" class="btn btn-danger" data-giftid="1" th:data-giftid="${giftCert.id}" onclick="deleteGift(this)">Del</button>
                <button class="btn navbar-toggler" type="button" style="background-color: #f4f742; padding-top: 0.75rem; padding-right: 0.375rem;" data-bs-toggle="offcanvas" onclick="preFill(this)" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    Modif
                </button>
            </td>
            </tr>
        </tbody>
    </table>

    <div class="toast-container position-fixed top-50 end-10 p-3" id="alertPlaceholder" hidden></div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="../static/functions.js" th:src="@{functions.js}"></script>
</body>

</html>