<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>GiftCert</title>
</head>

<body>
    <section>
        <nav class="navbar bg-body-tertiary" style="background-color: #1e5283d1;">
            <div class="container-fluid">
                <span style="justify-content: left;">
                    <a href="index.html" th:href="@{/home}" class="navbar-brand">Certifica 2</a>
                    <a href="index.html" th:href="@{/user}" th:if="${auth} != null" style="color: black;">My gifts</a>
                    <a href="index.html" th:href="@{/gifts}" th:if="${isAdmin}">
                        <button class="btn btn-info" type="button" style="background-color:#f4f742">Gifts</button>
                    </a>
                    <a href="index.html" th:href="@{/tags}" th:if="${isAdmin}">
                        <button class="btn btn-info" type="button" style="background-color:#f4f742">Tags</button>
                    </a>
                    <a href="index.html" th:href="@{/users}" th:if="${isAdmin}">
                        <button class="btn btn-info" type="button" style="background-color:#f4f742">Users</button>
                    </a>
                    <a href="index.html" th:href="@{/duo}" th:if="${isAdmin}">
                        <button class="btn btn-info" type="button" style="background-color:#f4f742">CREAR Gift</button>
                    </a>
                </span>
                <span style="justify-content: right;">
                    <a href="user.html" th:href="@{/login}">
                        <button class="btn btn-info" type="button">Log in</button>
                    </a>
                    <a href="user.html" th:href="@{/logout}" th:if="${auth} != null">
                        <button class="btn btn-info" style="background-color: rgb(133, 85, 178);" type="button">Log out</button>
                    </a>
                </span>
            </div>
        </nav>

        <div class="container">
            <div class="row" style="background-color: #1e528379; padding-top: 2%; margin-top: 2%; height: 80vh;">
                <h1>Certificados</h1>
                <p>Aqui puede encontrar sus regalos Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero
                    exercitationem, ipsa saepe similique nihil provident quas ullam facere quidem doloribus
                    aspernatur earum officia ab vitae esse modi. Ex, nostrum explicabo.
                    Molestiae aliquid beatae et enim rerum? Ipsam tempore ad laboriosam sapiente saepe
                    exercitationem, molestiae esse ullam! Velit numquam reprehenderit dolor fuga culpa magni
                    repellendus pariatur, tempora exercitationem quaerat ipsum voluptatibus.</p>
            </div>
        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>