<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/styles.css" th:href="@{styles.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css}"
          rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>My gifts</title>
</head>

<body>
    <nav class="navbar bg-body-tertiary" style="background-color: #1e5283d1;">
        <div class="container-fluid">
            <span style="justify-content: left;">
                <a href="index.html" th:href="@{/home}" class="navbar-brand">Certifica 2</a>
                <a href="index.html" th:href="@{/user}" th:if="${auth.isAuthenticated}" style="color: black;" >My gifts</a>
            </span>
            <span style="justify-content: right;">
                <a href="user.html" th:href="@{/login}"> <button class="btn btn-info" type="button">Log in</button></a>
                <a href="user.html" th:href="@{/logout}" th:if="${auth.isAuthenticated}"> <button class="btn btn-info" style="background-color: rgb(133, 85, 178);" type="button">Log out</button></a>
            </span>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img class="profileimg" src="../static/shibaprofile.jpg" th:src="@{shibaprofile.jpg}" alt="profile image">
            </div>
            <div class="col-8">
                <p th:text="'HELLO ' + ${auth.getName}">USUARIO NEIM, mis giftses</p>
            </div>
        </div>

        <div class="row" style="margin-top: 2%;">
            <div class="col-4 gift" style="padding-left: 5%;" th:each="gift:${certs}" th:if="${certs.size} > 0">
                <img src="../static/gift-card_1.png" th:src="@{gift-card_1.png}" alt="icono de regalo" width="15%">
                <p th:text="${gift.giftCertName}">regalo en frutas</p>
                <p th:text="${gift.description}">tarjeta regalo para uso en frutas</p>
                <p th:text="'$' + ${gift.price} + ' saldo disponible'">$800</p>
                <p th:text="'expira en ' + ${gift.duration} + ' dias'">expira en 50 dias</p>
                <p>Tags</p>
                <span class="badge rounded-pill text-bg-info" th:each="tag:${gift.tags}" th:text="${tag.tagName}">electronica</span>
            </div>
            <div th:if="${certs.size} < 1">
                <p>NO TIENES REGALOS :(</p>
            </div>
        </div>
    </div>

</body>

</html>