<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>User Admin</title>
</head>

<body>
    <nav class="navbar bg-body-tertiary" style="background-color: #1e5283d1;">
        <div class="container-fluid">
            <span style="justify-content: left;">
                <a href="index.html" th:href="@{/home}" class="navbar-brand">Certifica 2</a>
                <a href="index.html" th:href="@{/gifts}">
                    <button class="btn btn-info" type="button" style="background-color:#f4f742">Gifts</button>
                </a>
                <a href="index.html" th:href="@{/tags}">
                    <button class="btn btn-info" type="button" style="background-color:#f4f742">Tags</button>
                </a>
                <a href="index.html" th:href="@{/users}">
                    <button class="btn btn-info" type="button" style="background-color:#f4f742">Users</button>
                </a>
                <a href="index.html" th:href="@{/duo}">
                    <button class="btn btn-info" type="button" style="background-color:#f4f742">CREAR Gift</button>
                </a>
            </span>
            <span style="justify-content: right;">
                <a href="user.html" th:href="@{/login}">
                    <button class="btn btn-info" type="button">Log in</button>
                </a>
                <a href="user.html" th:href="@{/logout}">
                    <button class="btn btn-info" style="background-color: rgb(133, 85, 178);" type="button">Log out</button>
                </a>
            </span>
        </div>
    </nav>

    <h1>Users</h1>
    <table class="table">
        <thead>
            <th>ID</th>
            <th>Name</th>
        </thead>
        <tbody th:each="user:${users}">
            <td th:text="${user.id}">F </td>
            <td th:text="${user.name}">F </td>
        </tbody>
    </table>

</body>

</html>